<div
  class='video-html-wrapper {{ classes }}'
  data-aspect='{{ video.aspect_ratio }}'
  style="background-image: url('{{  video.preview_image | img_url: '600x' }}'); background-size: cover;"
>
  <video
    id='video-html-{{ video.id }}'
    class='video-html tw-w-full{% if autoplay %} autoplay{% endif %} {{ video_class }}'
    {% if defer %}
      preload='none'
    {% else %}
      preload='auto'
    {% endif %}
    {% if autoplay %}
      muted='true' loop='true' autoplay='true'
    {% endif %}
    {% if muted %}
      muted='true' loop='true'
    {% endif %}
    playsinline='true'
    webkit-playsinline='true'
    title='{{ title | default: video.alt | escape }}'
    poster='{{  video.preview_image | img_url: '600x' }}'
  >
    {% for video_source in video.sources %}
      <source type='{{ video_source.mime_type }}' src='{{ video_source.url }}'>
    {% endfor %}
    Your browser does not support the video tag.
  </video>
</div>

{% assign video = null %}
{% assign classes = null %}
{% assign defer = null %}
{% assign title = null %}
{% assign autoplay = null %}
{% assign muted = null %}
