{% if product.type == 'Ramp' or product.type == 'Dock' %}
  {{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    .section-{{ section.id }}-padding {
    	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    	.section-{{ section.id }}-padding {
    		padding-top: {{ section.settings.padding_top }}px;
    		padding-bottom: {{ section.settings.padding_bottom }}px;
    	}
    }
  {%- endstyle -%}

  <div class='section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} page-width xl-max-1600'>
    {% if section.settings.title != blank %}
      <div class='tw-flex tw-justify-center tw-items-center tw-py-12 lg:tw-py-16 lg:tw-mb-16'>
        <h2 class='tw-text-center tw-text-[24px] md:tw-text-[36px] tw-font-medium tw-text-black tw-max-w-[280px] lg:tw-max-w-[400px] tw-tracking-normal'>
          {{ section.settings.title }}
        </h2>
      </div>
    {% endif %}

    <div class=' color-{{ section.settings.section_color_scheme_inner }} tw-rounded-[20px] tw-p-8 max-md:tw-p-[8px] max-md:tw-mx-[-16px]'>
      {% if product.metafields.compare.specifications != blank %}
        {% for compare_product in product.metafields.compare.products.value %}
          <div
            class='product-specs{% if product.handle == compare_product.handle %} active{% endif %}'
            data-handle='{{ compare_product.handle }}'
          >
            <div class='product-specs__header tw-bg-deep tw-rounded-[10px] tw-overflow-hidden tw-relative'>
              {% if product.metafields.compare.products != blank %}
                <div class='tw-pt-4 lg:tw-pt-16 tw-px-8 lg:tw-px-0 tw-flex tw-justify-center tw-items-center'>
                  <div class='tw-flex tw-justify-start tw-items-center tw-border tw-border-white/30 tw-rounded-full max-md:tw-overflow-scroll'>
                    <ul class='tw-inline-flex tw-gap-4 tw-justify-center tw-p-2 lg:tw-p-3'>
                      {% for compare_list__product in product.metafields.compare.products.value %}
                        <li>
                          <button
                            class='button spec-button tw-transition-all tw-duration-300 tw-p-1 tw-px-3 lg:tw-px-12{% if compare_product.handle == compare_list__product.handle %} active{% endif %}'
                            data-handle='{{ compare_list__product.handle }}'
                          >
                            <span class='tw-text-[10px] lg:tw-text-[14px] tw-whitespace-nowrap'>
                              {{- compare_list__product.title -}}
                            </span>
                          </button>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
              <div class='product-specs__media tw-bg-deep tw-rounded-[10px] tw-overflow-hidden tw-cursor-none tw-max-w-[1500px] tw-mx-auto'>
                {% if compare_product.metafields.compare.specifications.value.video != blank %}
                  {% assign video = compare_product.metafields.compare.specifications.value.video.value %}
                  <script>
                    console.log({{ compare_product.metafields.compare.specifications.value | json }});
                  </script>
                  <div
                    class='video-html-wrapper responsive-video tw-max-w-full'
                    data-aspect='{{ video.aspect_ratio }}'
                    style="background-image: url('{{  video.preview_image | img_url: '1024x' }}'); background-size: cover;"
                  >
                    <video
                      id='video-html-{{ video.id }}'
                      class='video-html tw-w-full tw-object-cover tw-h-full tw-object-bottom'
                      preload='auto'
                      playsinline='true'
                      webkit-playsinline='true'
                      x-webkit-airplay='allow'
                      title='{{ compare_product.title | escape }}'
                      data-src='https://cdn.shopify.com/videos/c/o/v/e2e6efa2865146ad93e8f1cfde390be8.mp4'
                      data-url='{{ video.url }}'
                      {% if compare_product.metafields.compare.specifications.value.video_url != blank %}
                        src='{{ compare_product.metafields.compare.specifications.value.video_url }}'
                      {% endif %}
                    ></video>
                  </div>
                {% endif %}
              </div>

              <div class='product-specs__overlay tw-flex tw-w-full tw-justify-between tw-items-center tw-p-8 lg:tw-p-16 tw-absolute tw-bottom-0 tw-left-0 tw-right-0 tw-mx-auto {% if compare_product.id != product.id %} tw-max-w-[600px]{% else %} tw-max-w-[480px]{% endif %}'>
                {% if compare_product.metafields.compare.specifications.value.max_dog_weight != blank %}
                  <div class='tw-pointer-events-none tw-flex tw-flex-col tw-justify-between tw-items-start md:tw-items-center'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[10px] md:tw-text-[14px] md:pb-6 tw-block tw-mb-2'
                      >Capacity</span
                    >
                    <span class='tw-font-normal tw-text-white tw-text-[14px] md:tw-text-[24px]'>
                      Up to {{ compare_product.metafields.compare.specifications.value.max_dog_weight }}
                    </span>
                  </div>
                {% endif %}
                {% if compare_product.price != blank %}
                  <div class='tw-pointer-events-none tw-flex tw-flex-col tw-justify-between tw-items-end md:tw-items-center'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[10px] md:tw-text-[14px] md:pb-6 tw-block tw-mb-2'
                      >Price</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px] md:tw-text-[24px]'>
                      {{ compare_product.price | money_without_trailing_zeros }}
                    </span>
                  </div>
                {% endif %}
                {% if compare_product.id != product.id %}
                  <div class=' tw-flex tw-flex-col tw-justify-between tw-items-end md:tw-items-center'>
                    <a
                      href='{{ compare_product.url }}'
                      class='color-scheme-1 button button--primary tw-transition-all tw-duration-300 tw-p-1 tw-px-3 lg:tw-px-12'
                    >
                      <span class='tw-text-[14px] tw-whitespace-nowrap'>Shop Now</span>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>

            <div class='product-specs__list tw-my-12 tw-py-12 tw-overflow-hidden tw-relative tw-flex lg:tw-gap-12 tw-flex-col md:tw-flex-row lg:tw-mb-0 lg:tw-pb-0 max-md:tw-px-[16px]'>
              <ul class='tw-w-full md:tw-w-1/2'>
                {% if compare_product.metafields.compare.specifications.value.platform_length != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Platform Length</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.platform_length -}}
                    </span>
                  </li>
                {% endif %}
                {% if compare_product.metafields.compare.specifications.value.platform_width != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Platform Width</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.platform_width -}}
                    </span>
                  </li>
                {% endif %}
                {% if compare_product.metafields.compare.specifications.value.platform_depth != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Platform Depth</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.platform_depth -}}
                    </span>
                  </li>
                {% endif %}
                {% if compare_product.metafields.compare.specifications.value.stowed_dimensions != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Stowed Dimensions</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.stowed_dimensions -}}
                    </span>
                  </li>
                {% endif %}
              </ul>

              <ul class='tw-w-full md:tw-w-1/2'>
                {% if compare_product.metafields.compare.specifications.value.ramp_width != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Ramp Width</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.ramp_width -}}
                    </span>
                  </li>
                {% endif %}
                {% if product.metafields.compare.specifications.value.ramp_depth != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Ramp Depth</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.ramp_depth -}}
                    </span>
                  </li>
                {% endif %}

                {% if compare_product.metafields.compare.specifications.value.max_dog_weight != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Max Weight</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.max_dog_weight -}}
                    </span>
                  </li>
                {% endif %}
                {% if compare_product.metafields.compare.specifications.value.product_weight != blank %}
                  <li class='tw-flex tw-justify-between tw-items-center tw-py-6 tw-border-b-2 tw-border-white/30'>
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'
                      >Product Weight</span
                    >
                    <span class='tw-font-normal tw-text-body tw-ligatures-off tw-text-white tw-text-[14px]'>
                      {{- compare_product.metafields.compare.specifications.value.product_weight -}}
                    </span>
                  </li>
                {% endif %}
              </ul>
            </div>
            {% if compare_product.metafields.compare.specifications.value.diagrams != blank %}
              <div class='product-specs__footer tw-flex tw-justify-between tw-items-center tw-mt-12 tw-pb-12 tw-flex-col lg:tw-flex-row lg:tw-mt-0'>
                {% for diagram in compare_product.metafields.compare.specifications.value.diagrams.value %}
                  {% if forloop.first
                    and compare_product.metafields.compare.specifications.value.diagram_mobile != blank
                  %}
                    {% assign mobile_classes = 'tw-block lg:tw-hidden' %}
                    {% assign desktop_classes = 'tw-hidden lg:tw-block' %}
                  {% else %}
                    {% assign desktop_classes = 'tw-block' %}
                  {% endif %}

                  {% if forloop.first %}
                    {% assign classes = 'tw-w-full lg:tw-w-[65%]' %}
                  {% else %}
                    {% assign classes = 'tw-w-full lg:tw-w-[35%]' %}
                    {% assign desktop_classes = 'tw-block' %}
                  {% endif %}

                  <div classes='{{classes}}'>
                    {% render 'responsive-image', media: diagram, classes: desktop_classes, defer: true %}
                    {% if forloop.first
                      and compare_product.metafields.compare.specifications.value.diagram_mobile != blank
                    %}
                      {% render 'responsive-image',
                        media: compare_product.metafields.compare.specifications.value.diagram_mobile.value,
                        classes: mobile_classes,
                        defer: true
                      %}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div
      role='button'
      tabindex='0'
      class='specs-cursor tw-opacity-0 tw-cursor-none tw-select-none tw-pointer-events-none tw-fixed tw-flex tw-justify-center tw-items-center tw-h-[104px] tw-w-[104px] tw-rounded-[80px] tw-bg-yellow tw-overflow-hidden tw-scale-0 tw-translate-x-[-50%] tw-translate-y-[-50%] tw-transition-[transform,opacity] tw-duration-200 tw-cur'
      style='transform-style: preserve-3d; transition-timing-function: linear(0 0%, 1 100%);'
    >
      <p class='tw-my-0 tw-text-md tw-font-body tw-ligatures-off tw-text-black'>Drag</p>
    </div>
  </div>

  <style>
    .video-background {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    #container {
      height: 500vh;
      display: block;
    }
  </style>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js' defer></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js' defer></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let videoContainer = document.querySelector('.product-specs.active .product-specs__media .video-html-wrapper');
      let video = videoContainer?.querySelector('video');
      let cursor = document.querySelector('.specs-cursor');
      let isMouseDown = false;
      let isTouching = false;
      let startX = 0;
      let startProgress = 0;
      let lastTouchX = 0;
      let isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
      let tl;

      if (!video || !videoContainer) return;

      // Initialize GSAP
      gsap.registerPlugin(ScrollTrigger);

      // Function to wrap progress around
      function wrapProgress(progress) {
        return ((progress % 1) + 1) % 1;
      }

      // Function to create timeline
      function createTimeline() {
        // Kill existing timeline if it exists
        if (tl) {
          tl.kill();
          tl = null;
        }

        // Create a new timeline
        const newTimeline = gsap.timeline({
          paused: true,
          onUpdate: () => {
            if (video) {
              video.currentTime = newTimeline.progress() * video.duration;
              if (!video.paused) {
                video.pause();
              }
            }
          },
        });

        // Add a dummy tween to the timeline
        newTimeline.to({}, { duration: 1 });

        return newTimeline;
      }

      // Function to handle progress update
      function updateProgress(clientX) {
        if (!tl || !videoContainer) return;

        const rect = videoContainer.getBoundingClientRect();
        const x = clientX - rect.left;
        const dragDistance = x - startX;
        const dragProgress = dragDistance / rect.width;
        const rawProgress = startProgress + dragProgress;
        const wrappedProgress = wrapProgress(rawProgress);

        // Update the timeline progress
        try {
          tl.progress(wrappedProgress);
        } catch (error) {
          console.warn('Error updating timeline progress:', error);
          // Recreate timeline if there was an error
          tl = createTimeline();
          tl.progress(wrappedProgress);
        }

        // Ensure video stays paused
        if (video && !video.paused) {
          video.pause();
        }
      }

      // Function to add event listeners
      function addEventListeners(container, videoElement) {
        if (!container || !videoElement) return;

        // Remove existing listeners first to prevent duplicates
        removeEventListeners(container, videoElement);

        // Add mouse events to container
        container.addEventListener('mousemove', handleMouseMove, { passive: false });
        container.addEventListener('mousedown', handleMouseDown, { passive: false });
        container.addEventListener('mouseenter', handleMouseEnter);
        container.addEventListener('mouseleave', handleMouseLeave);

        // Add touch events to container only (to prevent double events)
        container.addEventListener('touchstart', handleTouchStart, { passive: false });
        container.addEventListener('touchmove', handleTouchMove, { passive: false });
        container.addEventListener('touchend', handleTouchEnd);
        container.addEventListener('touchcancel', handleTouchCancel);

        // Debug log
        console.log('Event listeners added', {
          container: container,
          video: videoElement,
          touchEnabled: 'ontouchstart' in window,
          isIOS: isIOS,
        });
      }

      // Function to remove event listeners
      function removeEventListeners(container, videoElement) {
        if (!container || !videoElement) return;

        // Remove mouse events from container
        container.removeEventListener('mousemove', handleMouseMove);
        container.removeEventListener('mousedown', handleMouseDown);
        container.removeEventListener('mouseenter', handleMouseEnter);
        container.removeEventListener('mouseleave', handleMouseLeave);

        // Remove touch events from container
        container.removeEventListener('touchstart', handleTouchStart);
        container.removeEventListener('touchmove', handleTouchMove);
        container.removeEventListener('touchend', handleTouchEnd);
        container.removeEventListener('touchcancel', handleTouchCancel);
      }

      // Function to initialize video scrubbing
      function initializeVideoScrubbing() {
        if (!video || !videoContainer) {
          console.warn('Missing video elements');
          return;
        }

        // Reset state
        isMouseDown = false;
        isTouching = false;
        startX = 0;
        startProgress = 0;
        lastTouchX = 0;

        // Ensure video is properly loaded
        if (video.readyState === 0) {
          video.load();
        }

        // Set video attributes for mobile
        video.setAttribute('playsinline', 'true');
        video.setAttribute('webkit-playsinline', 'true');
        video.setAttribute('x-webkit-airplay', 'allow');
        video.setAttribute('preload', 'auto');

        // Create new timeline
        tl = createTimeline();

        // Set initial timeline progress
        if (tl) {
          try {
            tl.progress(0);
          } catch (error) {
            console.warn('Error setting initial timeline progress:', error);
            tl = createTimeline();
            tl.progress(0);
          }
        }

        // Ensure video is paused initially
        if (video) {
          video.pause();
        }

        // Add event listeners
        addEventListeners(videoContainer, video);

        // Debug log
        console.log('Video scrubbing initialized', {
          video: video,
          container: videoContainer,
          isIOS: isIOS,
          hasTimeline: !!tl,
          timelineState: tl ? 'active' : 'null',
          touchEnabled: 'ontouchstart' in window,
          readyState: video.readyState,
          src: video.src || video.dataset.src,
        });
      }

      // Event handler functions
      function handleMouseMove(e) {
        if (!isMouseDown || !tl) return;
        updateProgress(e.clientX);
      }

      function handleMouseDown(e) {
        if (!tl) return;

        const rect = videoContainer.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;

        // Check if click is within bounds
        if (x < 0 || x > rect.width || y < 0 || y > rect.height) {
          return;
        }

        isMouseDown = true;
        cursor.classList.remove('tw-opacity-100', 'tw-scale-100');
        cursor.classList.add('tw-opacity-0', 'tw-scale-0');
        videoContainer.classList.remove('tw-cursor-none');
        videoContainer.classList.add('tw-cursor-ew-resize');

        startX = x;
        startProgress = tl.progress();

        // Ensure video is paused
        if (video && !video.paused) {
          video.pause();
        }
      }

      function handleTouchStart(e) {
        if (!tl || !videoContainer) return;

        e.preventDefault();
        e.stopPropagation();

        const touch = e.touches[0];
        const rect = videoContainer.getBoundingClientRect();
        startX = touch.clientX - rect.left;
        lastTouchX = startX;
        startProgress = tl.progress();
        isTouching = true;

        // Ensure video is paused
        if (video && !video.paused) {
          video.pause();
        }

        console.log('Touch start', {
          startX,
          lastTouchX,
          startProgress,
          rect: rect,
        });
      }

      function handleTouchMove(e) {
        if (!isTouching || !tl || !videoContainer) return;

        e.preventDefault();
        e.stopPropagation();

        const touch = e.touches[0];
        const rect = videoContainer.getBoundingClientRect();
        const currentX = touch.clientX - rect.left;

        // Calculate progress based on drag distance
        const dragDistance = currentX - startX;
        const dragProgress = dragDistance / rect.width;
        const newProgress = wrapProgress(startProgress + dragProgress);

        // Update timeline
        try {
          tl.progress(newProgress);
        } catch (error) {
          console.warn('Error updating timeline:', error);
        }

        console.log('Touch move', {
          currentX,
          dragDistance,
          dragProgress,
          newProgress,
        });

        // Ensure video stays paused
        if (video && !video.paused) {
          video.pause();
        }
      }

      function handleTouchEnd(e) {
        if (!isTouching) return;

        e.preventDefault();
        e.stopPropagation();

        isTouching = false;
        startX = 0;
        lastTouchX = 0;

        // Store final progress as start progress
        if (tl) {
          startProgress = tl.progress();
        }

        console.log('Touch end', {
          startProgress,
          isTouching,
        });

        // Ensure video is paused
        if (video && !video.paused) {
          video.pause();
        }
      }

      function handleTouchCancel(e) {
        handleTouchEnd(e);
      }

      function handleMouseEnter() {
        // No longer needed
      }

      function handleMouseLeave() {
        isMouseDown = false;
        videoContainer.classList.remove('tw-cursor-ew-resize');
        videoContainer.classList.add('tw-cursor-none');
      }

      // Handle mouse up globally
      document.addEventListener('mouseup', (e) => {
        const rect = videoContainer.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        const isInBounds = x >= 0 && x <= rect.width && y >= 0 && y <= rect.height;

        isMouseDown = false;

        // Only show cursor if mouse is within bounds
        if (isInBounds) {
          cursor.classList.add('tw-opacity-100', 'tw-scale-100');
          cursor.classList.remove('tw-opacity-0', 'tw-scale-0');
        } else {
          cursor.classList.remove('tw-opacity-100', 'tw-scale-100');
          cursor.classList.add('tw-opacity-0', 'tw-scale-0');
        }

        videoContainer.classList.remove('tw-cursor-ew-resize');
        videoContainer.classList.add('tw-cursor-none');
      });

      // Update cursor position
      document.addEventListener('mousemove', (e) => {
        const rect = videoContainer.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        const isInBounds = x >= 0 && x <= rect.width && y >= 0 && y <= rect.height;
        const isOverButton = false;
        const usageButtons = document.querySelectorAll('.product-specs .button');

        // Hide if over one of the shop now buttons
        usageButtons.forEach((button) => {
          button.addEventListener('mouseover', (e) => {
            isOverButton = true;
            console.log('isOverButton:false');
          });
          button.addEventListener('mouseout', (e) => {
            isOverButton = false;
            console.log('isOverButton:false');
          });
        });

        
        cursor.style.top = `${e.clientY}px`;
        cursor.style.left = `${e.clientX}px`;

        // Only show cursor when mouse is within bounds
        if (isInBounds && !isMouseDown && !isOverButton) {
          cursor.classList.add('tw-opacity-100', 'tw-scale-100');
          cursor.classList.remove('tw-opacity-0', 'tw-scale-0');
        } else {
          cursor.classList.remove('tw-opacity-100', 'tw-scale-100');
          cursor.classList.add('tw-opacity-0', 'tw-scale-0');
        }
      });

      // Handle spec button clicks
      let specButtons = document.querySelectorAll('.spec-button');
      specButtons.forEach((button) => {
        button.addEventListener('click', (e) => {
          e.preventDefault();

          // Kill existing timeline before switching
          if (tl) {
            tl.kill();
            tl = null;
          }

          const handle = button.dataset.handle;

          // Update buttons
          specButtons.forEach((btn) => btn.classList.remove('active'));
          button.classList.add('active');

          // Update products
          document.querySelectorAll('.product-specs').forEach((product) => {
            product.classList.remove('active');
          });

          const newActive = document.querySelector(`.product-specs[data-handle="${handle}"]`);
          if (newActive) {
            newActive.classList.add('active');
          }

          // Update video elements with a delay to ensure DOM is ready
          setTimeout(() => {
            videoContainer = document.querySelector('.product-specs.active .product-specs__media .video-html-wrapper');
            video = videoContainer?.querySelector('video');

            if (videoContainer && video) {
              // Ensure video source is set
              if (!video.src && video.dataset.src) {
                video.src = video.dataset.src;
              }
              if (!video.src && video.dataset.url) {
                video.src = video.dataset.url;
              }

              // Force video load
              video.load();

              // Initialize after a short delay to ensure video is loaded
              setTimeout(() => {
                initializeVideoScrubbing();
              }, 100);
            } else {
              console.warn('Failed to find video elements after switch');
            }
          }, 150);
        });
      });

      // Create initial timeline and initialize
      if (videoContainer && video) {
        // Ensure video source is set
        if (!video.src && video.dataset.src) {
          video.src = video.dataset.src;
        }
        if (!video.src && video.dataset.url) {
          video.src = video.dataset.url;
        }

        // Force video load
        video.load();

        // Initialize after a short delay to ensure video is loaded
        setTimeout(() => {
          initializeVideoScrubbing();
        }, 100);
      }
    });
  </script>
  <style>
    .specs-cursor.active {
      transform: scale(1) !important;
      opacity: 1 !important;
    }
    @media (hover: none) {
      .specs-cursor {
        display: none;
      }
      .video-html-wrapper {
        touch-action: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
      }
    }
    .spec-button {
      background-color: transparent;
      color: rgb(var(--color-background));
      font-size: 12px;
      padding: 10px;
      min-height: 30px;
      min-width: 100px;
    }
    .spec-button:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
    .spec-button span {
      color: rgb(var(--color-foreground));
    }
    .spec-button:before,
    .spec-button:after {
      content: none;
    }
    .spec-button.active {
      background-color: rgba(44, 118, 131, 1);
    }
    .product-specs:not(.active) {
      display: none !important;
    }
    .product-specs__media canvas {
      width: 100%;
      height: auto;
      display: block;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      margin: 0 0 15vmin;
    }
    @media screen and (max-width: 749px) {
      .spec-button {
        padding: 6px;
        min-height: 24px;
        min-width: 80px;
      }
      .product-specs .tw-bg-deep {
        /* background-color: #263d4f !important; */
      }
      .product-specs__media .video-html-wrapper {
        margin: 60px 0;
      }
    }
    @media screen and (min-width: 750px) {
      .product-specs .tw-bg-deep {
        background-color: #263d4f !important;
      }
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "Product Specs",
  "class": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Find the size that's right for your dog"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme_inner",
      "label": "Inner Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Product Specs"
    }
  ]
}
{% endschema %}
